body{
    background-color: grey ;
   
}

.nav{
    color: black;
    font-size: 20px;
    text-align: center;
    float: right;
    margin-top: auto;
    padding: 16px 20px;
    overflow: hidden;
}
 
a{
    text-decoration: none;
    padding: 20px 25px;
}
.row::after{
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 33.33%;
    
}


.info{
    text-align:justify;
    font-size: 25px;
    padding-top: 150px;
    padding-left: 500px;   
}
.img{
    text-align: center; 
    margin-left:300px ; 
}

.quote{   
text-align:center;
font-family: sans-serif;
font-size: 20px;

}
.me{
   
    border-radius:50%;
    margin-left: 30%;
}
.invite{
    padding-right: 50px;
    font-size: 30px;
}

.column right{ 
     padding: 10px; 
    padding: 20px; 
    margin-left: 200px;
    align-items: center;
    margin:0%;
 
} 
#img1{
    padding-top: 46px;
 
} 
.row::after{
    content: "";
    display: table;
    align-items: center;
    text-align: center;
}




